<div class="d-flex justify-content-evenly m-5">
  <%= link_to "Ir a Tiendas", stores_path, class: "btn btn-green"%>
  <%= link_to "Nuevo Empleado", new_employee_path, class: "btn btn-green"%>
</div>

<div class="text-center m-3">
  <h2>Empleados</h2>
</div>

<div class="container">
  <table class="table table-bordered table-hover border-green align-middle">
    <thead class="bg-success text-light">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Cargo</th>
        <th scope="col">Activo</th>
        <th scope="col">Tienda</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% @employee.each do |e| %>
      <tr>
        <td><%= e.id %></th>
        <td><%= e.name %></th>
        <td><%= e.email %></td>
        <td><%= e.position %></td>
        <td class="text-success"><%= e.statusActive %></td>
        <td><%= e.store.name %></td>
        <td class="text-center">
          <%= link_to "Edit", edit_employee_path(e), class: "btn btn-green w-50" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

