<div class="d-flex justify-content-evenly m-5">
  <strong class="fs-2"> Reporte de Empleados</strong>
  <%= link_to "Volver al menú", employees_path, class: "btn btn-dark d-flex align-items-center"%>
</div>

<div class="container p-3">
<h3>Tabla de asistencias</h3>
  <table class="table table-bordered border-green align-middle table-hover">
    <thead class="table-success">
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Entrada</th>
        <th scope="col">Salida</th>
      </tr>
    </thead>
    <tbody>
    <% @attendances.each do |e| %>
      <tr>
        <td><%= e.created_at.strftime('%d / %B / %Y') %></th>
        <td><%= e.employee_id %></td>
        <td><%= e.employee.name %></td>
        <% if e.direction == 'Check-in'%>
          <td><%= e.created_at.strftime('%T') %></td>
        <% else %>
          <td></td>
        <% end %>
        <% if e.direction == 'Check-out'%>
          <td><%= e.created_at.strftime('%T') %></td>
        <% else %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="container p-3">
  <h3>Promedio de hora de entrada y salida de los empleados</h3>
  <div class="d-flex justify-content-evenly pt-4 fs-3">
    <div><strong>Entrada</strong><p><%= @avgIn %></p></div>
    <div><strong>Salida</strong><p><%= @avgOut %></p></div>
  </div>
</div>

<div class="container p-3">
  <h3>Ausencia por mes</h3>
  <table class="table table-bordered border-green align-middle table-hover">
  <thead class="table-success">
    <tr class="">
      <th>Id</th>
      <th>Nombre</th>
      <th>Dias sin entrada</th>
    </tr>
  </thead>
  <% @ausencia.each do |employee|  %>
    <% result = (employee.attendances.group_by_day(:created_at, range: employee.attendances.minimum(:created_at)..Time.now).count)%>
    <% daysNo = result.select { |k, v| v == 0 }.keys %>
    <tr>
      <td><%= employee.id %></td>
      <td><%= employee.name %></td>
      <td>
        <% daysNo.each do |d| %>
          <%= simple_format "#{d.strftime('%d / %B / %Y')} \n" %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </table>
</div>

